<div style="background-color:lightblue" >
  <hr>
  <div>
    <app-top-bar></app-top-bar>
  </div>
  <hr>
</div>
<form #employeeDetails="ngForm" (ngSubmit)="onSubmitData(employeeDetails)">
	<table>
		<tr *ngIf="inupdatemode">
			<td> Emp ID : </td>
			<td>{{employeeId}}</td>
		</tr>
		<tr>
			<td> FirstName : </td>
			<td><input type="text" [readonly]="inupdatemode" title="firstname" #firstname="ngModel" [(ngModel)]="employee.firstname" name="firstname" ></td>
    </tr>
		<tr>
			<td> LastName : </td>
			<td><input type="text" [readonly]="inupdatemode" title="lastname" #lastname="ngModel" [(ngModel)]="employee.lastname"  name="lastname" ></td>
    </tr>
		<tr>
			<td> ManagerID : </td>
			<td><input type="text" title="managerId" #managerId="ngModel" [(ngModel)]="employee.mgrid" name="managerId" ></td>
    </tr>
		<tr>
			<td> Hire Date : </td>
			<td>
        <input type="text" [readonly]="inupdatemode" title="hireDate" #hireDate="ngModel" [(ngModel)]="employee.hiredate" name="hireDate" ></td>
    </tr>
    <tr>
      <td colspan='2' style="text-align:center">
        <button>
          <span *ngIf="!inupdatemode">Create</span>
          <span *ngIf="inupdatemode">Update</span>
        </button>
        </td>
    </tr>
  </table>
</form>