<table>
	<tr>
		<th>Emp ID</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Manager ID</th>
		<th>Hire Date</th>
		<th>Update Action</th>
	</tr>
	<tr *ngFor="let e of employees" (dblclick)="doubleClick(e.id)">
		<td>{{e.id}}</td>
		<td>
      <span *ngIf="!e.editEnabled">{{e.firstname}}</span>
      <span *ngIf="e.editEnabled">
        <input type="text" name="firstname" [(ngModel)]="e.employeeNewInfo.firstname" (keyup)="onKeyUp($event,e.id)">
      </span>
    </td>
    <td>
      <span *ngIf="!e.editEnabled">{{e.lastname}}</span>
      <span *ngIf="e.editEnabled">
        <input type="text" name="lastname" [(ngModel)]="e.employeeNewInfo.lastname" (keyup)="onKeyUp($event,e.id)">
      </span>
    </td>
    <td>
      <span *ngIf="!e.editEnabled">{{e.mgrid}}</span>
      <span *ngIf="e.editEnabled">
        <input type="text" name="mgrid" [(ngModel)]="e.employeeNewInfo.mgrid" (keyup)="onKeyUp($event,e.id)">
      </span>
    </td>
    <td>
      <span *ngIf="!e.editEnabled">{{e.hiredate | date:'fullDate'}}</span>
      <span *ngIf="e.editEnabled">
        <input type="text" name="hiredate" [(ngModel)]="e.employeeNewInfo.hiredate" (keyup)="onKeyUp($event,e.id)">
      </span>
    </td>
    <td>
      <button *ngIf="e.editEnabled" (click)="onCommitUpdate(e.id)" >Commit</button>
      <button *ngIf="e.editEnabled" (click)="onCancelUpdate(e.id)" >Cancel</button>
      <button *ngIf="!e.editEnabled" (click)="onUpdate(e.id)" >Update</button>
      <button *ngIf="!e.editEnabled" (click)="onDelete(e.id)">Delete</button>
    </td>
  </tr>
</table>

<button (click)="resetEmpList()">Reset Employees List</button>
<br>
<div style="font-size:12px">
Employee Records Count : {{employees?.length}}
</div>